.todolist__container{
    display: flex;
}

.todolist__list{
    position: relative;
    min-width: 250px;
    max-width: 100%;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background-color: #f6f6f6;
    margin: 10px;
    height: fit-content;
    border-radius: 5px;
}

.todolist__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todolist__task,
.todolist__title--edit{
    border: 1px solid #c3c4c7;
    border-radius: 5px;
    margin: 4px;
    background-color: #fff;
}

.todolist__title span:first-of-type{
    font-weight: bold;    
    font-size: 18px;
    margin: 0;
    line-height: 1.4;
    width: 100%;
}

.todolist__title,
.todolist__task{
    display: flex;
    padding: 8px 12px;
    align-items: center;
    cursor: pointer;
}

.todolist__task-title{
    line-break: anywhere;
}

.todolist__task-title,
.todolist__list input[type=text]{
    width: 100vw;
    max-width: 100%;
    font-size: 14px;
    border: 0;
}

.todolist__list input[type=checkbox]{
    margin: 0 15px 0 1px;
}

.todolist__list .dashicons{
    transition: 0.2s all ease-in-out;
}

.todolist__list .dashicons-trash:hover{
    color: rgb(167, 2, 2);
}

.todolist__list .dashicons-edit-large:hover{
    color: rgb(0, 167, 0);
}

.todolist__task-checkbox:checked + .todolist__task-title{
    text-decoration: line-through;
}

.todolist__task-button--edit{
    margin-left: 15px;
}